@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color--foreground: hsla(0, 0%, 0%, 1);
  --color--background: hsla(0, 0%, 100%, 1);
  --color--secondary: hsla(339, 80%, 78%, 1);
  --color--primary: hsla(350, 72%, 52%, 1);
  --color--surface: var(--color--background);
  --color--on-surface: var(--color--foreground);
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

