@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color--foreground: hsla(0, 0%, 0%, 1);
  --color--background: hsla(0, 0%, 100%, 1);
  --color--secondary: hsla(339, 80%, 78%, 1);
  --color--primary: hsla(350, 72%, 52%, 1);
  --color--surface: var(--color--background);
  --color--on-surface: var(--color--foreground);
  --color--underline: var(--color--secondary);
}

.dark {
  --color--foreground: hsl(210, 40%, 98%);
  --color--background: hsl(220.89999999999998, 39.3%, 11%);
  --color--secondary: hsl(328.6, 85.5%, 70.2%);
  --color--primary: hsl(199.39999999999998, 95.5%, 73.9%);
  --color--surface: var(--color--background);
  --color--on-surface: var(--color--foreground);
  --color--underline: var(--color--primary);
}

body {
  color: rgb(var(--color--foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul.contains-task-list {
  max-width: 640px;
}

.alert-list ul {
  list-style-type: disc;
  padding-inline-start: 2rem;
}

.prism-code {
  max-width: calc(100vw - 6rem);

  @media (min-width: 1024px) {
    max-width: calc(100vw - 3rem);
  }
}

.footnotes li,
sup a {
  scroll-margin-top: 24px;
}
