@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color--foreground: hsla(0, 0%, 0%, 1);
  --color--background: hsla(0, 0%, 100%, 1);
  --color--secondary: hsla(339, 80%, 78%, 1);
  --color--primary: hsla(350, 72%, 52%, 1);
  --color--surface: var(--color--background);
  --color--on-surface: var(--color--foreground);
  --color--underline: var(--color--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--foreground: hsl(210, 40%, 98%);
    --color--background: hsl(228.60000000000002, 84%, 4.9%);
    --color--secondary: hsl(328.6, 85.5%, 70.2%);
    --color--primary: hsl(199.39999999999998, 95.5%, 73.9%);
    --color--surface: var(--color--background);
    --color--on-surface: var(--color--foreground);
    --color--underline: var(--color--primary);
  }
}

body {
  color: rgb(var(--color--foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul.contains-task-list {
  max-width: 640px;
}

.alert-title p {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 0.5rem;
  text-transform: uppercase;
}

.alert-list ul {
  list-style-type: disc;
  padding-inline-start: 2rem;
}

.prism-code {
  max-width: calc(100vw - 32px);
}
